---
import Layout from '../layouts/Layout.astro';
import Contact from '../components/contactform.astro'
---

<Layout title="Cisco Services WW">
  <main>
    <article class="region prose wrapper hero">
      <h1>Welcome</h1>

      <h2>Check out our services below </h2>
      
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>PC Builds</h3>
          <p>
           We can make you a parts list based on your budget and requirements. We can also assemeble the computer for you.
          </p>
        </li>

        <li class="flow">
          <h3>Repairs</h3>
          <p>
            We do many types of repairs
            some of which include: Laptop, Desktop, Keyboard, Mouse, etc.
          </p>
        </li>

        <!-- <li class="flow">
          <h3>robust</h3>
          <p>
            Based on <a href="https://buildexcellentwebsit.es/"
              >buildexcellentwebsit.es</a
            > philosophy: let the browser do the heavy lifting rather than "micromanage"
            it, as <a href="https://andy-bell.co.uk/">the author</a> puts it.
          </p>
        </li>

        <li class="flow">
          <h3>fluid</h3>
          <p>
            Spacings and font sizes are <a href="https://utopia.fyi/"
              ><code>clamp()</code> based</a
            >, they adapt to the viewport's size instead of arbitrary
            breakpoints — looks good on <em>all devices</em>.
          </p>
        </li> -->
      </ul>
    </article>
    <article class="region prose wrapper hero">
      <h2>Contact Us Bellow</h2>
      <Contact />
    <footer class="region prose wrapper">
      See <a href="https://github.com/williamhzo/astro-cube">source code</a>,
      contributions are welcome! <span role="img" aria-label="waving hand emoji"
        >👋</span
      >
    </footer>
  </main>
</Layout>
